<br/>
<div class="panel panel-transparent" >
  <div class="col-md-6 sm-no-padding" ng-repeat="data in result">
      <div class="panel panel-transparent">
        <div class="panel-body no-padding">
          <div id="portlet-advance" class="panel panel-default">
            <div class="panel-heading ">
              <div class="panel-title">{{data.Name}}
              </div>
            </div>
            <div class="panel-body">
              <h3 class="semi-bold" >{{data.Occupation}}</h3>
              <p>{{data.Phone}} <span>   {{data.Email}}</span></p>
              <br>
              <p>{{data.Address}}</p>
              <br>
              <div>
                <div class="profile-img-wrapper m-t-5 inline">
                  <img width="35" height="35" ng-src="{{data.Image || '/assets/images/ic.png' }}" alt="">
                  <div class="chat-status available">
                  </div>
                </div>
                <div class="inline m-l-10">
                  <a href="/admin/compose.html#?q={{data.id}}&name={{data.Name}}" class="btn btn-success">Message</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

        <div style="clear:both"></div>

        <div style="text-align:center">
          <nav style="display:inline-block;">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li ng-repeat="num in newerScope"><a href="#" ng-click="$event.preventDefault();sends($index + 1)">{{$index +1}}</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
