<div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
              <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                  <li>
                    <p>NewsLetter</p>
                  </li>
                </ul>
                <!-- END BREADCRUMB -->
              </div>
            </div>
          </div>
          <div class="container-fluid sm-p-l-5 bg-master-lighter ">
            <div class="timeline-container top-circle">
              <section class="timeline" >

                <!-- timeline-block -->

                <div class="timeline-block" ng-repeat="data in result" >

                  <div class="timeline-point small">
                    <i class="pg-social"></i>
                  </div>
                  <!-- timeline-point -->
                  <div class="timeline-content" ng-if="data.Type == '0'">
                    <div class="card share full-width">
                      <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                      </div>
                      <div class="card-header clearfix">
                        <div class="user-pic">
                          <img alt="Profile Image" width="33" height="33" data-src-retina="assets/images/logo_b.png" data-src="assets/images/logo_b.png" src="assets/images/logo_b.png">
                        </div>
                        <h5>{{data.Uploader}}</h5>
                        <h6><span class="location semi-bold">{{data.Title}}</span></h6>
                      </div>
                      <div class="card-description">
                        <p>{{data.Description}}</p>
                        <div class="via"></div>
                      </div>
                      <div class="card-content">
                        <ul class="buttons ">
                          
                        </ul>
                        <img  ng-src="{{data.Image}}">
                      </div>
                      <div class="card-footer clearfix">
                        <div class="time"></div>
                        <ul class="reactions">

                        </ul>
                      </div>

                    </div>
                    <div class="event-date">
                      <small class="fs-12 hint-text">{{ data.Date | date : "fullDate" }}</small>
                    </div>
                  </div>
                  <!-- timeline-content -->
                </div>
                <!-- timeline-block -->
                  <div class="timeline-point warning">
                    <i class="pg-social"></i>
                  </div>
                  <!-- timeline-point -->
                  <div class="timeline-content" ng-if="data.Type == '1'">
                    <div class="card share full-width ">
                      <div class="card-header clearfix">
                        <h5 class=" pull-left fs-12">{{data.Title}} <i class="fa fa-circle text-warning-dark fs-11"></i></h5>
                        <div class="pull-right small hint-text">
                         <i class="fa fa-comment-o"></i>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="card-description">
                        <h5> <span class="">{{data.Description}}</span></h5>
                      </div>

                    </div>
                    <div class="event-date">
                      <h6 class="font-montserrat all-caps hint-text m-t-0">Visa Express Travel</h6>
                      <small class="fs-12 hint-text">{{ data.Date | date : "fullDate" }}</small>
                    </div>
                  </div>
                  <!-- timeline-content -->
                </div>
                <!-- timeline-block -->
              </section>
              <!-- timeline -->
            </div>
            <!-- -->
          </div>
