<div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
              <div class="inner">
                <!-- START BREADCRUMB -->

                <!-- END BREADCRUMB -->

              </div>
            </div>
          </div>

          <div class="container-fluid container-fixed-lg">
                      <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                          <!-- START PANEL -->
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <div class="panel-title">
                                VisaExpress Club
                              </div>
                            </div>
                            <div class="panel-body">
                              <h5>
          							NewsLetter Control
          						</h5>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group form-group-default required">
                                      <label>Title</label>
                                      <input type="text" class="form-control" ng-model="data.Title" required>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group form-group-default">
                                      <label>Description</label>
                                      <textarea  class="form-control" ng-model="data.Description" ></textarea>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group form-group-default">
                                      <label>Event Date</label>
                                      <input type="date" class="form-control" ng-model="data.Date" required>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-sm-6">
                                    <label for="exampleInputFile">Front Image</label>
                                    <input type="file" ng-model="file" class="input-lg" onchange="angular.element(this).scope().newLetter(this.files[0])" />
                                      <div >
                                        <a class=" col-sm-2">
                                          <img src="{{f}}" class="img img-thumbnail" />
                                        </a>
                                        <div style="clear:both"></div>
                                      </div>

                                  </div>
                                </div>
                                  <div class="col-md-6">
                                    <div class="form-group form-group-default">
                                      <button ng-click="add(data)">Update</button>
                                      <md-progress-circular md-mode="indeterminate" ng-show="show == 'show'"></md-progress-circular>
                                    </div>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <!-- END PANEL -->
                        </div>

                      </div>
                    </div>
