


<div class="container-fluid container-fixed-lg">
            <div class="row">
              <div class="col-md-6">
                <!-- START PANEL -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="panel-title">
                      VisaExpress Club
                    </div>
                  </div>
                  <div class="panel-body">
                    <h5>
              Gallery Control
            </h5>


                      <div class="row">
                        <div class="col-sm-6">
                          <label for="exampleInputFile">Images</label>
                            <input type="file" ng-model="file" class="input-lg" onchange="angular.element(this).scope().newfile(this.files[0])" />
                            <div >
                              <a ng-repeat="f in files" class=" col-sm-2">
                                <img src="{{f}}" class="img img-thumbnail" />
                              </a>
                              <div style="clear:both"></div>
                            </div>

                          </div>
                        </div>
                      </div>
                        <div class="col-md-6">
                          <div class="form-group form-group-default">
                            <button ng-click="add()">Add</button>
                            <md-progress-circular md-mode="indeterminate" ng-show="show == 'show'"></md-progress-circular>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- END PANEL -->
                <div class="row">
                  <div class="panel panel-transparent" ng-repeat="im in img">
                <div class="col-md-6 sm-no-padding">
                        <div class="panel panel-transparent">
                          <div class="panel-body no-padding">
                            <div id="portlet-advance" class="panel panel-default">
                              <div class="panel-body">
                                  <img ng-src="{{im}}" />
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
