
          <div class="container-fluid container-fixed-lg">

            <div class="col-md-offset-2 col-md-8">
              <!-- START PANEL -->
              <div class="pa3 pv3">
                  <h2 class="">
                    New Package
                  </h2>
                <div class="">
                  <h5>Packages show up on <a href="visaexpresstravel.club/packages.html">visaexpresstravel.club/packages.html</a> </h5>


                    <div class="form-group form-group-default required">
                      <label>Title</label>
                      <input type="text" class="form-control" ng-model="data.Title" required>
                    </div>


                    <div class="form-group form-group-default">
                      <label>Description</label>
                      <textarea  class="form-control" ng-model="data.Description" ></textarea>
                    </div>


                    <div class="form-group form-group-default">
                      <label>Date</label>
                      <input type="date" class="form-control" ng-model="data.Date" required>
                    </div>

                <div class="">
                  <label for="">Upload Image</label>
                  <input type="file" ng-model="file" class="input-lg" onchange="angular.element(this).scope().newLetter(this.files[0])" />
                    <div >
                      <a class=" col-sm-2">
                        <img src="{{f}}" class="img img-thumbnail" />
                      </a>
                      <div style="clear:both"></div>
                    </div>

                  </div>

                  <div class="pa2 pv3">
                    <button class="btn btn-info btn-lg fr" ng-click="add(data)">Update</button>
                    <md-progress-circular md-mode="indeterminate" ng-show="show == 'show'"></md-progress-circular>
                  </div>

                </div>

                </div>
            </div>

        </div>
